
.alertConfirm{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}
.alertConfirmBG{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alertConfirmContent{
    border: 2px solid var(--color-secondary);
    border-radius: 10px;
    background-color: var(--color-quaternary);
    position: absolute;
    z-index: 101;
    width: 17rem;
    padding: var(--size-text);
    animation: alertShow 1s ease-in-out;
}
.alertConfirmContent h4{
    text-align: center;
    font-family: var(--font-title);
    font-size: var(--size-titleText);
    color: var(--color-oposity-color);
    margin-bottom: 1rem;
}
.alertConfirmContent p{
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-oposity-color);
    text-align: center;
}
.showAlert{
    display: block;
    animation: alertShow 1s ease-in-out;
}
.hideAlert{
    display: none;
    animation: alertHide 1s ease-in-out;
}

@keyframes alertShow{
    0%{
        opacity: 0;
        transform: scale(1);
    }20%{
        transform: scale(1.2);
    }40%{
        opacity: 1;
        transform: scale(.9);
    }50%{
        transform: scale(1);
    }
}
@keyframes alertHide{
    0%{
        display: block;
        opacity: 1;
        transform: scale(1);
    }20%{
        transform: scale(.8);
    }40%{
        opacity: 0;
        transform: scale(1.2);
    }50%{
        display: none;
        transform: scale(0);

    }

}