.projects{
    padding: 3rem 0;
    background-color: rgb(var(--color-default));
    color: var(--color-oposity-color);
    position: relative;
}

.projects h2{
    text-align: center;
    font-family: var(--font-title);
    font-size: var(--size-title);
    padding: 0 0 1rem 0;
}

.mySwiper{
    height: 35rem;
}
