.home{
    width: 100%;
    height: 320px;
    background-color: var(--color-default);
    position: absolute;
    top: 0;
}
.layer{
    width: 100%;
    height: 100%;
    background-image: url(../../assets/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
.light{
    height: 320px;
    backdrop-filter: blur(5px);
    animation-name: transicaoLight;
    animation-duration: 1s;
}
.dark{
    height: 320px;
    backdrop-filter: invert(1) blur(5px);    
    animation-name: transicaoDark;
    animation-duration: 300ms;
}
.intro{
    position: absolute;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro h2{
    width: 100%;
    text-align: center;
    font-family: var(--font-title);
    font-size: var(--size-description);
    color: var(--color-primary);
    text-shadow: -1px 1px 0px var(--color-tertiary);
}
.intro span{
    text-shadow: none;
}
.intro p{
    width: 100%;
    text-align: center;
    font-family: var(--font-subtitle);
    font-size: var(--size-title);
    color: var(--color-default);
}
.intro p:nth-of-type(2){
    font-size: var(--size-description);
}
.more{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes transicaoLight {
    0%{
        filter: invert(1);
    }20%{
        filter: invert(0);
    }
}
@keyframes transicaoDark {
    0%{
        filter: invert(1);
    }20%{
        filter: invert(1) blur(5px);
    }
}