.home{
    width: 100%;
    height: 320px;
    background-color: var(--color-default);
    position: absolute;
    top: 0;
    z-index: -1;
}
.layer{
    width: 100%;
    height: 100%;
    background-image: url(../../assets/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
.light{
    height: 320px;
    backdrop-filter: blur(5px);
    animation-name: transicaoLight;
    animation-duration: 1s;
}
.dark{
    height: 320px;
    backdrop-filter: invert(1) blur(5px);    
    animation-name: transicaoDark;
    animation-duration: 300ms;
}
.intro{
    position: absolute;
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro h2{
    width: 100%;
    text-align: center;
    font-family: var(--font-title);
    font-size: var(--size-title);
    color: var(--color-primary);
    text-shadow: -1px 1px 0px var(--color-tertiary);
}
.intro span{
    text-shadow: none;
}
.intro p{
    width: 100%;
    text-align: center;
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-default);
}
.more{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more button{
    font-family: var(--font-text);
    font-size: var(--font-text);
    color: var(--color-oposity-color);
    padding: 0.1rem 2rem 0rem 2rem;
    border: none;
    border-top: 1px solid var(--color-quaternary);
    border-right: 1px solid var(--color-quaternary);
    border-radius: 6px;
    background-color: var(--color-primary);
    cursor: pointer;
    box-shadow: -1px 2px 0px 1px var(--color-tertiary);
    transition: 50ms
}
.more button:active{
    box-shadow: none;
    border: none;
    margin-right: .3rem;
    margin-top: .4rem;
    background-color: var(--color-secondary);
    border-bottom: 1px solid var(--color-tertiary);
    border-left: 1px solid var(--color-tertiary);
}

@keyframes transicaoLight {
    0%{
        filter: invert(1);
    }20%{
        filter: invert(0);
    }
}
@keyframes transicaoDark {
    0%{
        filter: invert(1);
    }20%{
        filter: invert(1) blur(5px);
    }
}