@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Orbitron&display=swap');

:root{
  --color-primary: #5FDB33;
  --color-secondary: #49A827;
  --color-tertiary: #285C15;
  --color-quaternary: #94E177;
  --color-cancel: #e40f0f;

  --color-default: #E1E1E1;
  --color-emph: #ebebeb;
  --color-oposity-color: #1C1C1C;
  --color-black: #1c1c1c;
  --color-shadow: #aaa;

  --font-title: 'Orbitron', sans-serif;
  --font-subtitle: 'Bebas Neue', sans-serif;
  --font-text: 'Inter', sans-serif;;

  --size-title: 1.8rem;
  --size-titleText: 1.3rem;
  --size-text: 1rem;
  --size-subtext: .8rem;
}

[className='dark']{
  --color-default: #1C1C1C;
  --color-emph: #161616;
  --color-oposity-color: #efefef;
  --color-black: #1c1c1c;
  --color-shadow: #3d3d3d;
  
  --color-primary: #49A827;
  --color-secondary: #5FDB33;
  --color-tertiary: #285C15;
  --color-quaternary: #49A827;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: ease-in-out 100ms;
}
body{
  overflow-y: auto;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  width: 6px;
  background: var(--color-emph);
}
body::-webkit-scrollbar-thumb{
  background-color: var(--color-secondary);
  border-radius: 5px;
  border: 1px solid var(--color-emph);
}

button{
  font-family: var(--font-subtitle);
  font-size: var(--font-text);
  color: var(--color-oposity-color);
  padding: 0.1rem 2rem 0rem 2rem;
  border: none;
  border-top: 1px solid var(--color-quaternary);
  border-right: 1px solid var(--color-quaternary);
  border-radius: 6px;
  background-color: var(--color-primary);
  cursor: pointer;
  box-shadow: -1px 2px 0px 1px var(--color-tertiary);
  transition: 50ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
}
button:hover{
  background-color: rgba(73, 168, 39, .9);
  border-top: 1px solid rgba(73, 168, 39, .9);
  border-right: 1px solid rgba(73, 168, 39, .9);
}
button:active{
  box-shadow: none;
  border: none;
  margin-right: .3rem;
  margin-top: .4rem;
  background-color: var(--color-secondary);
  border-bottom: 1px solid var(--color-tertiary);
  border-left: 1px solid var(--color-tertiary);
}

